html, body {
  background-color: #2c3e50;
  font-size:18px;
  color: #ecf0f1;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.row {
  padding-top: 50px;
}

.glyphicon {
  margin-top: 20px;
  margin-right: 10px;
}

.glyphicon-thumbs-up {
  color: #3498db;
}

.glyphicon-heart {
  color: #e74c3c;
}

.glyphicon-alert {
  color: #e67e22;
}
